[package]
name = "deepchopper"
version = "0.1.0"
edition = "2021"

[lib]
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
name = "deepchopper"
crate-type = ["cdylib", "rlib"]

[profile.dev]
debug = 1


[dependencies]
thiserror = "1.0"
anyhow = "1.0"
walkdir = { version = "2.4" }
rayon = { version = "1.8" }
pyo3 = { version = "0.21.0", features = [
    "abi3-py310",
    "extension-module",
    "anyhow",
] }

ctrlc = "3.4"
log = "0.4"
pyo3-log = "0.10"
noodles = { version = "0.78.0", features = [
    "bgzf",
    "core",
    "csi",
    "fasta",
    "fastq",
    "sam",
    "bam",
] }

bio = "2.0"
needletail = "0.5"


ahash = "0.8.11"
numpy = "0.21"
ndarray = { version = "0.15", features = ["serde", "rayon"] }
num-traits = { version = "0.2" }
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
rand = "0.8"
rand_distr = "0.4"
bitvec = "1.0"
itertools = "0.13.0"
derive_builder = "0.20"
lexical = "6.1"
bstr = "1.9.1"
lazy_static = "1.4.0"
tempfile = "3.10"
parquet = "52.0.0"
arrow = "52.0"
candle-core = { git = "https://github.com/huggingface/candle.git", version = "0.5.1" }
colored = "2"
textwrap = "0.16"
flate2 = { version = "1.0.30", features = [
    "zlib-ng",
], default-features = false }


# binaries
clap = { version = "4.5.4", features = ["derive"] }
env_logger = "0.11"
stringzilla = ">=3"
human-panic = "2.0"


[dev-dependencies]


[build-dependencies]
pyo3-build-config = "0.22"
